 
      .footer-first-section{
              background: linear-gradient(to right, hsl(267, 66%, 32%), #cd8d2c );
          color:#fff;
          padding-top:25px;
          padding-bottom:20px;
          text-align: center;
         
      }
      .footer-icons{
          text-align:center;
          
      }
      .footer-icons a>span{
          color:#fff;
          padding-right:30px;
      }
      .footer-section-2{
          background-color: hsl(182, 66%, 32%) ;
          
      
      }
      .footer-Copyright-section{
      background: linear-gradient(to right, #cd8d2c, hsl(267, 66%, 32%));
        color: #fff;
        font-size: 18px;
        border-top:1px solid#fff;
        padding:30px 0;
      }
      /*  */
      .footer-second-section{
          padding-bottom:50px;
          padding-top:50px;
          
      }
      .footer-second-section p{
          color: #fff;
      }
      .footer-second-section p>a{
          color:#fff;
          padding-right:10px;
      }
      .p{
        margin-top: 0;
        margin-bottom: 1rem;
        color: #fff;
      }
      .footer-heading{
          text-transform:uppercase;
          font-weight:bold;
          color:#fff;
      }
      
      
      .footer-Copyright-section ul>li{
       display: inline-block;
       padding-right: 10px;
      }
      
      .footer{
        color: #fff;
      }
      
      .footer:hover{
        color: #fff;
      }
      
